@import url('@/assets/styles/modal.scss');
.connect-to-memoo{
  background: linear-gradient(90deg, #07E993 0%, #C565FF 100%);
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}
