.ant-modal.bouns_points_claimed_dialog {
  .ant-modal-content {
    border-radius: 15px;
    border: 1px solid #b53bff;
    background: linear-gradient(180deg, #341f4f 0%, #4c3b96 100%);
    min-height: 264px;
    border-radius: 15px;
    padding: 0;
  }
}

.bouns_points_claimed_dialog_title {
  font-family: '404px';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */

  background: linear-gradient(90deg, #07e993 0%, #14fcfb 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bouns_points_claimed_dialog_desc {
  color: #fff;
  text-align: center;
  font-family: 'OCR A Extended';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 120% */
  letter-spacing: -0.5px;
}
