.settings_page {
  background: url('./assets/bg.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
}

.settings_head {
  background: url('./assets/bg.jpg') no-repeat 0 0;
  background-size: 100% auto;
}

.settings_tasks_title {
  color: #fff;
  font-family: 'OCR A Extended';

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
  letter-spacing: -0.6px;
}

.settings_tasks_points {
  color: #fff;
  text-align: right;
  font-family: '404px';
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px; /* 100% */
}

.settings_updated {
  color: #fff;
  font-family: '404px';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 100% */
}

.settings_list {
  padding: 10px 17px 100px 17px;
}

.settings_list_item {
  border-radius: 15px;
  background: #181828;
  padding: 10px;
  display: flex;
  align-items: center;

  h4 {
    color: #fff;
    font-family: 'OCR A Extended';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: -0.6px;
  }

  border-radius: 15px;
  border: 1px solid #b53bff;
  background: #2c1844;
}

.settings_switch.ant-switch {
  height: 30px;
  width: 54px;
  background: linear-gradient(to bottom, #560f81, #a005fe) !important;

  border: 1px solid #ffffff;

  .ant-switch-handle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
  }

  &.ant-switch-checked .ant-switch-handle {
    inset-inline-start: calc(100% - 28px);
  }

  &.ant-switch-checked {
    background: linear-gradient(to bottom, #0e6443, #07e993) !important;
  }
}
